sudo: false
env:
  global:
    - CC_TEST_REPORTER_ID=76672ef77cad95ceebaae307481a556bc384e12be444b5039ca108e83fbff279
language: ruby
rvm:
  - 2.6.6
before_install:
  - gem install bundler --no-document
  - gem install rubocop --no-document
notifications:
  - false
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
